<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DeepCancer</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
{% include 'navbar.html' %}
    <div class="theory">
        <section class="theorysection">
            <h3>The Definition of Cancer
            </h3>
            <p>Cancer is a disease in which some of the body’s cells grow uncontrollably and spread to other parts of
                the body.

                Cancer can start almost anywhere in the human body, which is made up of trillions of cells. Normally,
                human cells grow and multiply (through a process called cell division) to form new cells as the body
                needs them. When cells grow old or become damaged, they die, and new cells take their place.

                Sometimes this orderly process breaks down, and abnormal or damaged cells grow and multiply when they
                shouldn’t. These cells may form tumors, which are lumps of tissue. Tumors can be cancerous or not
                cancerous (benign).

                Cancerous tumors spread into, or invade, nearby tissues and can travel to distant places in the body to
                form new tumors (a process called metastasis). Cancerous tumors may also be called malignant tumors.
                Many cancers form solid tumors, but cancers of the blood, such as leukemias, generally do not.

                Benign tumors do not spread into, or invade, nearby tissues. When removed, benign tumors usually don’t
                grow back, whereas cancerous tumors sometimes do. Benign tumors can sometimes be quite large, however.
                Some can cause serious symptoms or be life threatening, such as benign tumors in the brain.</p>
        </section>
        <section class="theorysection">
            <h3>Differences between Cancer Cells and Normal Cells
            </h3>
            <p>Cancer cells differ from normal cells in many ways. For instance, cancer cells:

                grow in the absence of signals telling them to grow. Normal cells only grow when they receive such
                signals.
                ignore signals that normally tell cells to stop dividing or to die (a process known as programmed cell
                death, or apoptosis).
                invade into nearby areas and spread to other areas of the body. Normal cells stop growing when they
                encounter other cells, and most normal cells do not move around the body.
                tell blood vessels to grow toward tumors. These blood vessels supply tumors with oxygen and nutrients
                and remove waste products from tumors.
                hide from the immune system. The immune system normally eliminates damaged or abnormal cells.
                trick the immune system into helping cancer cells stay alive and grow. For instance, some cancer cells
                convince immune cells to protect the tumor instead of attacking it.
                accumulate multiple changes in their chromosomes, such as duplications and deletions of chromosome
                parts. Some cancer cells have double the normal number of chromosomes.
                rely on different kinds of nutrients than normal cells. In addition, some cancer cells make energy from
                nutrients in a different way than most normal cells. This lets cancer cells grow more quickly.
                Many times, cancer cells rely so heavily on these abnormal behaviors that they can’t survive without
                them. Researchers have taken advantage of this fact, developing therapies that target the abnormal
                features of cancer cells. For example, some cancer therapies prevent blood vessels from growing toward
                tumors, essentially starving the tumor of needed nutrients. </p>
        </section>
        <section class="theorysection">
            <h3>How Does Cancer Develop?
            </h3>
            <p>Cancer is a genetic disease—that is, it is caused by changes to genes that control the way our cells
                function, especially how they grow and divide.

                Genetic changes that cause cancer can happen because:

                of errors that occur as cells divide.
                of damage to DNA caused by harmful substances in the environment, such as the chemicals in tobacco smoke
                and ultraviolet rays from the sun. (Our Cancer Causes and Prevention section has more information.)
                they were inherited from our parents.
                The body normally eliminates cells with damaged DNA before they turn cancerous. But the body’s ability
                to do so goes down as we age. This is part of the reason why there is a higher risk of cancer later in
                life.

                Each person’s cancer has a unique combination of genetic changes. As the cancer continues to grow,
                additional changes will occur. Even within the same tumor, different cells may have different genetic
                changes.</p>
        </section>
        <section class="theorysection">
            <h3>
                Types of Genes that Cause Cancer

            </h3>
            <p>The genetic changes that contribute to cancer tend to affect three main types of genes—proto-oncogenes,
                tumor suppressor genes, and DNA repair genes. These changes are sometimes called “drivers” of cancer.

                Proto-oncogenes are involved in normal cell growth and division. However, when these genes are altered
                in certain ways or are more active than normal, they may become cancer-causing genes (or oncogenes),
                allowing cells to grow and survive when they should not.

                Tumor suppressor genes are also involved in controlling cell growth and division. Cells with certain
                alterations in tumor suppressor genes may divide in an uncontrolled manner.

                DNA repair genes are involved in fixing damaged DNA. Cells with mutations in these genes tend to develop
                additional mutations in other genes and changes in their chromosomes, such as duplications and deletions
                of chromosome parts. Together, these mutations may cause the cells to become cancerous.

                As scientists have learned more about the molecular changes that lead to cancer, they have found that
                certain mutations commonly occur in many types of cancer. Now there are many cancer treatments available
                that target gene mutations found in cancer. A few of these treatments can be used by anyone with a
                cancer that has the targeted mutation, no matter where the cancer started growing.</p>
        </section>
        <section class="theorysection">
            <h3>When Cancer Spreads
            </h3>
            <p>A cancer that has spread from the place where it first formed to another place in the body is called
                metastatic cancer. The process by which cancer cells spread to other parts of the body is called
                metastasis.

                Metastatic cancer has the same name and the same type of cancer cells as the original, or primary,
                cancer. For example, breast cancer that forms a metastatic tumor in the lung is metastatic breast
                cancer, not lung cancer.

                Under a microscope, metastatic cancer cells generally look the same as cells of the original cancer.
                Moreover, metastatic cancer cells and cells of the original cancer usually have some molecular features
                in common, such as the presence of specific chromosome changes.

                In some cases, treatment may help prolong the lives of people with metastatic cancer. In other cases,
                the primary goal of treatment for metastatic cancer is to control the growth of the cancer or to relieve
                symptoms it is causing. Metastatic tumors can cause severe damage to how the body functions, and most
                people who die of cancer die of metastatic disease. </p>
        </section>
    </div>
    {% include 'footer.html' %}

</body>

</html>