<nav class="navbar navbar-expand-lg ">
    
    <div class="container-fluid">
        <img src="{{ url_for('static', filename='images/favicon-16x16.png') }}"  alt="Image">
        <a class="navbar-brand" href="/">Deepcancer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Cancer
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('cancer') }}">About Cancer</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('cancertypes') }}">Cancer Types </a></li>
                        <li><a class="dropdown-item" href="{{ url_for('govt') }}">Government Initiative</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('about') }}">About Us</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>